body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(247, 221, 188);
}

.nav-link:hover{
    color: rgb(209, 60, 60) !important;
}

.bg-light {
    background-color: rgb(13, 51, 38) !important;
}



